.content{
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: red;
    display: flex;

    .wrapperContent{
        width: 1200px;
        height: 700px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: green;
        
    }
}