.menu{
    ul{
        display: flex;
        // background-color: aqua;
        height: 100px;
        justify-content: center;
        align-items: center;

        li{
            display: flex;
            margin-left: 30px;
            border: 1px solid;
            border-radius: 10px;
            border-color: grey;
            cursor: pointer;
            min-width: 50px;
            overflow: hidden;
            padding: 5px;
            height: 30px;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
            
            
        }
    }
}