.menu{
    ul{
        display: flex;
        // background-color: aqua;
        height: 100px;
        justify-content: center;
        align-items: center;

        li{
            display: flex;
            margin-left: 30px;
            border: 1px solid;
            border-radius: 10px;
            border-color: grey;
            cursor: pointer;
            min-width: 50px;
            overflow: hidden;
            padding: 5px;
            height: 30px;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(106, 74, 223, 0.25);
            border: 1px solid rgba(255, 255, 255, 0.125);
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.7);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.7);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.7);
            
    &:hover{
        background-color: rgba(106, 74, 223, 0.17);
        transition: 0.1s;
    }
        }
    }
}